.front-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin-top: 20px;
}

.adopt-button {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: 20px auto;
  cursor: pointer;
  align-items: left;
}

.adopt-button:hover {
  background-color: #45a049;
}

.par-container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  width: auto;
  margin: 20px auto;
}

.par {
  width: 300px;
  text-align: center;
  margin: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.Turnin-btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: 20px auto;
  cursor: pointer;
  align-items: left;
}

.Turnin-btn:hover {
  background-color: #cb3939;
}

.Volunteer-btn {
  display: block;
  width: 200px;
  height: 50px;
  background-color: #adb93b;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin: 20px auto;
  cursor: pointer;
  align-items: left;
}

.Volunteer-btn:hover {
  background-color: #887810;
}

nav {
  background-color: #333;
  color: white;
  text-align: right;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
}

.name {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
